*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{/*COLOR DE FONDO*/
    background: radial-gradient(circle, rgb(255, 230, 1) 0%, rgba(248, 3, 3, 0.808) 35%, rgba(0,0,0,1) 100%);
    font-size: 1rem;
}

/* ************* HEADER */
.icono1{
	display: none;
	position: absolute;
    border: none;
	width: 8%;
	left: 1%;
    top: 0;
}
h1{/*COLOR DEL TITULO PRINCIPAL */
    margin: 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 4rem;
    font-family: 'JelleeBold';
    text-shadow:
      0 0 7px #ff0000
      0 0 10px #f50d0d,
      0 0 21px #ffee00,
      0 0 151px rgb(0, 255, 255);
}

h2{/*COLOR DEL SUBTITULO*/
    margin: 0 auto 0.5rem;
    color: #080808;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2rem;
    font-family:Jellebold;        
    text-shadow:
        0 0 7px #ff0000,
        0 0 10px #fff,
        0 0 151px rgb(0, 255, 255);
}

/*NAVEGADOR*/
.nav-contenedor {
    background: linear-gradient(90deg, rgba(252,249,2,1) 10%, rgba(255,0,0,0.7959558823529411) 50%, rgba(252,249,2,1) 90%);
    margin-left: 10%;
    margin-right: 10%;
    font-style: Helvetica;
    font-size: 1.8vw;
    border-radius: 30px;/*redondea los bordes donde esta contenido el nav*/
    scroll-behavior: smooth;
    transition: 0.3s;
    display: flex;
    justify-content: space-around;
    padding: 0 1rem;
}
a{
    text-decoration: none;
}
a:hover{
    transition: 0.3s;
    color: red;
    background: khaki;
    border-radius: 3px;
}
/****************************** fin del NAVEGADOR*/

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--color_fondo);
    color: black;
}

.content-principal{
    margin-top: 2rem;
    margin-bottom: 30vw;
} 

/* Texto quiénes somos ****************************/
.content-texto{
    width: 70%;
    margin: 0 auto;
    padding: 1vw;
    font-size: 1.5vw;
    border-radius: 5vw;
    border: 2px solid red;
    box-shadow: 5px 5px 10px yellow;
}
h3{
    color: coral;
    margin-left: 3vw;
}
p{
    padding: 1vw;
}
/* fin del texto **********************************/


/* Carrusel *******************************/
.content-all{
    position: relative;
    width: 210px;
    margin: auto;
    perspective: 800px;
    margin-top: 50px;
}

.content-carrusel{
    width: 100%;
    position: absolute;
    animation: rotar 10s infinite linear;
    transform-style: preserve-3d;
}

.content-carrusel:hover{
    animation-play-state: paused;
    cursor: pointer;

}
.content-carrusel figure{
    width: auto;
    height: auto;
    overflow: hidden;
    position: absolute;
    box-shadow: 0px 0px 20px 0px black;
    transition: all 300ms;
}

.content-carrusel figure:hover{
    box-shadow: 0px 0px 0px 0px black;
    transition: all 300ms;
}

.content-carrusel figure:nth-child(1){transform: rotateY(60deg) translateZ(300px);}
.content-carrusel figure:nth-child(2){transform: rotateY(120deg) translateZ(300px);}
.content-carrusel figure:nth-child(3){transform: rotateY(180deg) translateZ(300px);}
.content-carrusel figure:nth-child(4){transform: rotateY(240deg) translateZ(300px);}
.content-carrusel figure:nth-child(5){transform: rotateY(300deg) translateZ(300px);}
.content-carrusel figure:nth-child(6){transform: rotateY(360deg) translateZ(300px);}

.content-carrusel img{
    width: 100%;
    transition: all 300ms;
}

.content-carrusel img:hover{
    transform: scale(1.2);
    transition: all 300ms;
}

@keyframes rotar{
    from{
        transform: rotateY(0deg);
    } to {
        transform: rotateY(360deg);
    }
}
/* Fin del carrusel ************************************/

footer {
    grid-area: foot;
    width: 100%;
    height: 18rem;
}

iframe{
    width: 100%;
    height: 19rem;
    margin-top: auto;
}

/* ************** Media para cuando se achica la pantalla a menos de 800px */
@media (max-width:800px) {
    :root{
        font-size: 12px;
    }
    body{
        max-width: 100%;
        height: 100%;
    }
    .icono1{
        display: block;
        cursor: pointer;
        font-size: 0.1rem;
    }
    h1{
        font-size: 2.2rem;
    }
    h2{
        font-size: 1.7rem;
    }
    .nav-contenedor{
        background: gold;
        flex-direction: column;
        margin-left: 0;
        width: 27%;
        height: auto;
        padding: 2rem 0;
        align-items: center;
        border-radius: 5px;
        font-style: Helvetica;
        font-size: 1rem;
        position: fixed;
        overflow-y: auto;
        left: -100%;
        transition: left 1.2s;
        box-shadow: 5px 5px 5px grey;
    }
    .nav_menu_visible{
        left: 0;
    }
    a{
        padding: 0.5rem 0;
    }
    .content-principal{
        margin-bottom: 40vw;
    } 
    .content-texto{
        font-size: 2vw;
        width: 50%;
    }
    .content-all{
        width: 25vw;
        perspective: 155vw;
        margin-top: 10vw;
    }
}