*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{/*COLOR DE FONDO*/
    background: radial-gradient(circle, rgb(255, 230, 1) 0%, rgba(248, 3, 3, 0.808) 35%, rgba(0,0,0,1) 100%);
    font-size: 1rem;
}

/* ************* HEADER */
.icono1{
	display: none;
	position: absolute;
    	border: none;
	width: 8%;
	left: 1%;
    	top: 0;
}
h1{/*COLOR DEL TITULO PRINCIPAL */
    margin: 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 4rem;
    font-family: 'JelleeBold';
    text-shadow:
      0 0 7px #ff0000
      0 0 10px #f50d0d,
      0 0 21px #ffee00,
      0 0 151px rgb(0, 255, 255);
}

h2{/*COLOR DEL SUBTITULO*/
    margin: 0 auto 0.5rem;
    color: #080808;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 2rem;
    font-family:Jellebold;        
    text-shadow:
        0 0 7px #ff0000,
        0 0 10px #fff,
        0 0 151px rgb(0, 255, 255);
}

/*NAVEGADOR*/
.nav-contenedor {
    background: linear-gradient(90deg, rgba(252,249,2,1) 10%, rgba(255,0,0,0.7959558823529411) 50%, rgba(252,249,2,1) 90%);
    margin-left: 12%;
    margin-right: 12%;
    font-style: Helvetica;
    font-size: 1.5rem;
    border-radius: 30px;/*redondea los bordes donde esta contenido el nav*/
    scroll-behavior: smooth;
    transition: 0.3s;
    display: flex;
    justify-content: space-around;
    padding: 0 1rem;
}
a{
    text-decoration: none;
}
a:hover{
    transition: 0.3s;
    color: red;
    background: khaki;
    border-radius: 3px;
}
/****************************** fin del NAVEGADOR*/

main{
    grid-area: formulario;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjetas {
    position: relative;
    width: 20vw;
    height: 35vw;
    margin: 1em;
}

.tarjetas .lado{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}

.tarjetas .uno{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black;
}
.tarjetas .uno img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tarjetas .uno h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vw;
    line-height: 5vw;
    color: white;
    background: black;
    text-align: center;
    /*font-size: 1.5vw;*/
}

.tarjetas .dos{
    transform: perspective(600px) rotateY(180deg);    
    background: black;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px black;
}
.tarjetas .dos .link{
    border-top: solid 1px white;
    height: 6vw;
    line-height: 6vw;
}
.tarjetas .dos .link a{
    color: white;
    /*font-size: 2vw;*/
}
.tarjetas .dos h3{
    /*font-size: 1.8vw;*/
    margin-top: 20px;
    letter-spacing: 2px;
}
.tarjetas .dos p{
    /*font-size: 1vw;*/
    letter-spacing: 1px;
}

.tarjetas:hover .uno{
    transform: perspective(600px) rotateY(180deg);        
}
.tarjetas:hover .dos{
    transform: perspective(600px) rotateY(360deg);        
}
footer {
    grid-area: foot;
    width: 100%;
    height: 18rem;
}

iframe{
    width: 100%;
    height: 19rem;
    margin-top: auto;
}

/* ************** Media para cuando se achica la pantalla a menos de 800px */
@media (max-width:800px) {
    :root{
        font-size: 12px;
    }
    .icono1{
        display: block;
        cursor: pointer;
        font-size: 0.1rem;
    }
    h1{
        font-size: 2.2rem;
    }
    h2{
        font-size: 1.7rem;
    }
    .nav-contenedor{
	background: gold;
	opacity: 100%;
	flex-direction: column;
	margin-left: 0;
	width: 27%;
	height: auto;
	padding: 2rem 0;
        align-items: center;
        border-radius: 5px;
        font-style: Helvetica;
        font-size: 1.5rem;
        position: fixed;
        overflow-y: auto;
        left: -100%;
        transition: left 1.2s;
	box-shadow: 5px 5px 5px grey;
    }
	a{
		padding: 0.5rem 0;
	}
    .nav_menu_visible{
        left: 0;
    }
    main{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .tarjetas {
        width: 40vw;
        height: 60vw;
    }
    footer{
        width: 100%;
        height: 20vh;
    }
    iframe{
        width: 100%;
        height: 20vh;
    }
}
