@import url(head-menu.css);
@import url(footer-iframe.css);

@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

/*fuentes
acme
exo
macondo
newsreader
karma
*/


:root{
	--color_fondo: radial-gradient(circle, rgba(255, 230, 1, 0.651) 0%, rgba(248, 3, 3, 0.582) 35%, rgba(0,0,0,1) 100%);
}


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
    background: var(--color_fondo);
    height: 100%;
    font-size: 1rem;
}

body{
	width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--color_fondo);
    color: #09f744;
}


/* FORMULARIO ************************************************* */
main{
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
}

form{
    width: 25em;
    padding: 2em 2em;
    box-shadow: 0 0 20px lightyellow;
    border-radius: 20px;
    text-align: center;
}

#form h2{
    font-size:1.5em;
    color: rgb(255, 255, 0);
    text-shadow: 2px 2px red;
}
.form_contacto{
    display: flex;
    flex-direction: column;
    text-align: left;
}

label{
    font-size: 1em;
    font-weight: 600;
    text-shadow: 0 1px black;
    margin-bottom: 0.2em;
}

input, textarea{
    padding: 1em 1em;
    font-size: 0.8em;
    border-radius: 25px;
    margin-bottom: 1em;
    background-color: orange;
    border: 2px solid red;
    outline: none;
}

input::placeholder, textarea::placeholder{
    color: grey;
}

.form_terminos{
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.form_terminos a{
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    color:gold;
    text-shadow: 1px 1px black;
}

.form_boton{
    display: flex;
    justify-content: center;
}

button{
    width: 60%;
    padding: 10px;
    font-size: 1em;
    color: white;
    border: 0;
    border-radius: 25px;
    background-color: coral;
    box-shadow: 0 0 10px yellowgreen;
    cursor: pointer;
    transition: 0.5s;
}

button:hover{
    background-color:crimson;
}
/* fin del formulario ******************************************* */


/* ************** Media para cuando se achica la pantalla a menos de 800px */
@media (max-width:800px) {
    :root{
        font-size: 12px;
    }
    .icono1{
        display: block;
        cursor: pointer;
        font-size: 0.1rem;
    }
    h1{
        font-size: 2.2rem;
    }
    h2{
        font-size: 1.7rem;
    }
    .nav-contenedor{
        background: gold;
        flex-direction: column;
        margin-left: 0;
        width:27%;
        height: auto;
        padding: 2rem 0;
        align-items: center;
        border-radius: 5px;
        font-style: Helvetica;
        font-size: 1rem;
        position: fixed;
        overflow-y: auto;
        left: -100%;
        transition: left 1.2s;
        box-shadow: 5px 5px 5px grey;
    }
    .nav_menu_visible{
        left: 0;
    }
    a{
        padding: 0.5rem 0;
    }
    footer{
        width: 100%;
        height: 20vh;
    }
    iframe{
        width: 100%;
        height: 20vh;
    }
}