@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

/*fuentes
acme
exo
macondo
newsreader
karma
*/


:root{
	--color_fondo: radial-gradient(circle, rgba(255, 230, 1, 0.651) 0%, rgba(248, 3, 3, 0.582) 35%, rgba(0,0,0,1) 100%);
    font-size: 15px;
}


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Macondo', 'Sans Serif';
}

body{
    width: 100%;
    background: var(--color_fondo);
    color: #f9fdfa;
}

/* FORMATO DEL GRID CONTENEDOR **************************************** */
#grid_container{
	display: grid;
	width: 100%;
	grid-template-columns: 1fr;
	/*grid-template-rows: 10%, 80%, 10%;	*/
	grid-template-areas:
	"head"
	"formulario"
	"foot";
}
/* fin del formato del contenedor***************************************** */

/* HEADER ************************************************* 
header {
	grid-area: head;
	text-align: center;
    font-size: 3vw;
	padding: 0.5em;
	background: linear-gradient(#faf06a6e, #6e1919);
    border: 5px solid yellowgreen;
}
header >img{
	width: 8%;
	position: absolute;
	left: 5%;
}
.estilo_titulo h2{
	font-weight: bold;
	text-shadow: 10px 10px 50px yellow;
	color: #09f744;
}
.estilo_titulo h3{
	font-style: italic;
	text-shadow: 2px 2px red;
    color: rgb(255, 255, 0);
}
 fin del header ******************************************* */

/* Central ************************************************* */
main{
    grid-area: formulario;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjetas {
    position: relative;
    width: 20vw;
    height: 35vw;
    margin: 1em;
}

.tarjetas .lado{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}

.tarjetas .uno{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px black;
}
.tarjetas .uno img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tarjetas .uno h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5vw;
    line-height: 5vw;
    color: white;
    background: black;
    text-align: center;
    /*font-size: 1.5vw;*/
}

.tarjetas .dos{
    transform: perspective(600px) rotateY(180deg);    
    background: black;
    padding: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0 5px 10px black;
}
.tarjetas .dos .link{
    border-top: solid 1px white;
    height: 6vw;
    line-height: 6vw;
}
.tarjetas .dos .link a{
    color: white;
    /*font-size: 2vw;*/
}
.tarjetas .dos h3{
    /*font-size: 1.8vw;*/
    margin-top: 20px;
    letter-spacing: 2px;
}
.tarjetas .dos p{
    /*font-size: 1vw;*/
    letter-spacing: 1px;
}

.tarjetas:hover .uno{
    transform: perspective(600px) rotateY(180deg);        
}
.tarjetas:hover .dos{
    transform: perspective(600px) rotateY(360deg);        
}

/* fin pantalla central ******************************************* */


footer {
	width: 100%;
	height: 19rem;
    margin-top: auto;
}

iframe{
    width: 100%;
    height: 19rem;
    margin-top: auto;
}

@media (max-width:800px) {
    :root{
        font-size: 12px;
    }
    main{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .tarjetas {
        width: 60vw;
        height: 80vw;
    }
    footer{
        width: 100%;
        height: 20vh;
    }
    iframe{
        width: 100%;
        height: 20vh;
    }
}
/************************** Menu Hamburguesa*****************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

bb{
    font-family: sans-serif;
    background-color: #d2d2d2;
    color: white;
}

.navbar{
    background-color: rgb(128, 26, 12);
    height: 48px;
    padding: 10px 12px;
    position: relative;
}

.checkbox, .icons{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 10px;
    right: 12px;
    cursor: pointer;
}

.icons{
    pointer-events: none;
    font-size: 24px;
}

.checkbox{
    opacity: 0;
}

.fa-xmark{
    display: none;
}

.checkbox:checked ~ .fa-bars{
    display: none;
}

.checkbox:checked ~ .fa-xmark{
    display: block;
}

.menu{
    width: 200px;
    position: absolute;
    top: -220px;
    z-index: -1;
    right: 0px;
   /*display: none;*/
    transition: 250ms;
}

.menu li{
    list-style: none;
    }
.menu li a{
    text-decoration: none;
    color: inherit;
    background-color: rgb(173, 19, 8);
    display: block;
    padding: 10px 12px;  
}

.menu li a:hover{
    background-color: #275886;
}

.checkbox:checked ~ .menu{
/*display: block;*/
   top: 48px;
}

@media(min-width:560px){
    .checkbox, .fa-solid fa-bars, .fa-solid fa-xmark{
display: none;
     }
     .menu{
        top: 0;
        z-index: 1;
        width: unset;
        display: flex;
     }
     .menu a{
        height: 48px;
        padding: 14px 12px 6px;
     }
}
