@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

/*fuentes
acme
exo
macondo
newsreader
karma
*/


:root{
	--color_fondo: radial-gradient(circle, rgba(255, 230, 1, 0.651) 0%, rgba(248, 3, 3, 0.582) 35%, rgba(0,0,0,1) 100%);
}


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Macondo', 'Sans Serif';
}

body{
	width: 100%;
    background: var(--color_fondo);
    font-size: 4vw;
    color: #09f744;
}

/* FORMATO DEL GRID CONTENEDOR **************************************** */
#grid_container{
	display: grid;
	width: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: 10%, 80%, 10%;	
	grid-template-areas:
	"head"
	"principal"
	"secundaria"
	"foot";
}

@media (min-width:800px) {
	#grid_container{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 10%, 80%, 10%;
		grid-template-areas: 
		"head head"
		"principal secundaria"
		"foot foot";
	}
}
/* fin del formato del contenedor***************************************** */

/* HEADER ************************************************* */
header {
	grid-area: head;
	font-size: 3vw;
	text-align: center;
	padding: 0.5em;
	background: linear-gradient(#faf06a6e, #6e1919);
	border: 5px solid yellowgreen;
}
header >img{
	width: 8%;
	position: absolute;
	left: 5%;
}
.estilo_titulo h2{
	font-weight: bold;
	text-shadow: 10px 10px 50px yellow;
	color: #09f744;
}
.estilo_titulo h3{
	font-style: italic;
	text-shadow: 2px 2px red;
    color: rgb(255, 255, 0);
}
/* fin del header ******************************************* */


.menu_izquierda {
	grid-area: principal;
	display: grid;
	justify-items: center;
}
.partes_hamburguesa{
	position: relative;
	transition: 0.3s;
}
.partes_hamburguesa img{
	max-width: 100%;
	display: grid;
}
.partes_hamburguesa a {
	position: absolute;
	color: #09f744;
	text-decoration: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.menu_derecha {
	grid-area: secundaria;
	display: grid;
	justify-items: center;
}
.bebidas{
	position: relative;
	transition: 0.3s;
}
.bebidas img {
	max-width: 100%;
	display: grid;
}
.bebidas a{
	position: absolute;
	color: #09f744;
	text-decoration: none;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.partes_hamburguesa:hover, .menu_derecha:hover{
	transform: scale(1.3);
	z-index: 2;
	filter: blur(1px);
	text-shadow: 1px 1px 10px red;
	text-rendering: optimizeLegibility;
}

/*
.footer {
	grid-area: foot;
	margin-top: 10px;
	font-size: 3vw;
	text-align: center;
}*/

/**********************************************************
***********************FOOTER******************************
**********************************************************/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

footer{
	grid-area: foot;
    width: 100%;
    background: #202020;
    color: #ffffff;
}

.container-footer-all{
width: 100%;
max-width: 2400px;
margin: auto;
padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.columna1{
    max-width: 400px;
}
.columna1 h1{
    font-size: 22px;
	color:#ffffff;
 }

.columna1{
    font-size: 13px;
    color:#c7c7c7;
}

.columna2{
    max-width: 400px;
}
.columna2 h1{
    font-size: 22px;
	color:#ffffff;
 }

.row{
    margin-top: 20px;
    display: flex;
}

.row i{
    font-size: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color:#c7c7c7;
	font-size: 15px;
}

.columna3{
    max-width: 400px;
}
.columna3 h1{
    font-size: 22px;
 }

.row2{
    margin-top: 20px;
    display: flex;
	font-size: 15px;
}
.row2 i{
    font-size: 36px;
    height: 36px;
}
.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 100px;
	color:#c7c7c7;
}

.container-footer{
    width: 100%;
    background: #101010;
	padding: 5px;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
	padding: 20px;
    }

.copyright{
    
    text-align: center;
    font-size: 15px;

}
